section{
    background-color: blue;
    height: 100vh;
    min-height: 100%;
}
aside{
    background-color: green;
    height: 100vh;
    min-height: 100%;
}

@media(min-width : 600px){
    
    #bigrapper{
        display: flex;
    }
    section{
        width: 65%;
    }
    aside{
        width: 35%;
    }
    
}


