section{
    /*background-color: blue;*/
    height: 100vh;
    min-height: 100%;
}
aside{
    /*background-color: green;*/
    height: 100vh;
    min-height: 100%;
}

@media(min-width : 600px){
    
    #bigrapper{
        display: flex;
        background-image: url(../src/img/backgroung.png);/* Hay que reglar esto*/
        background-repeat: repeat;  
        background-size: cover;
        background-color: red;
    }
    section{
        width: 65%;
    }
    aside{
        width: 35%;
    }
    
}


