*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid grey;
}
html{
    height: 100%;
    min-height: 100%;
    background: #000;
    width: 100%;
    background-color: black;
}
body{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: #6e0309;
}
header{
    width: 100%;
    height: 10vh;
    vertical-align: middle;
    top: 0;
    z-index: 100;
    background-color: black;
}
div#divhead{
    display: none;
}
nav{
    height: 10vh;
    top: 10vh;
    text-align: center;
    /*background-color: yellow;*/
}
footer{
    height: 10vh;
    background-color: lightcoral;
}
/************************* HEADER ****************************/
header{
    vertical-align: middle;
}
header table{                        /* HEAD TABLE */
    height: 10vh;
    width: 100%;
}
header table, tr, td{
    border: 0px;
    border-collapse: collapse;
}
header table tr td{
    text-align: center;
}
header table td img{     /*sizing the HEAD image*/
    height: 10vh;
    margin: 0 auto;
}
header table tr td:nth-child(3){
    min-width: 200px;
}
header table td:last-child{
    width: 15%;
    min-width: 150px;
}
header table td:last-child img{
    height: 5vh;
}
header table td:last-child img:hover{
    color: red;
    opacity: 0.2;
}
header table td:nth-of-type(2) img{ 
    display: none;
    text-align: center;
}
.tooltip {                   /******** TOOLTIP ************/
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.webdesigntuts-workshop {           /******* styling the SEARCH BAR********/
	height: 100%;
	text-align: center;
	height: 100%;
}

.webdesigntuts-workshop input {  /*searct bar*/
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	height: 100%;
	margin: 0;
	padding: 8px;
	text-shadow: 0 -1px 0 #000;
	width: 70%;
}
.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	height: 100%;
	line-height: 5vh;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 30%;
        min-width: 50px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}
@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}
@media(min-width : 600px){
    html{
        background: -webkit-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Safari 5.1 to 6.0 */
        background: -o-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Opera 11.1 to 12.0 */
        background: -moz-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Firefox 3.6 to 15 */
        background: repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* Standard syntax*/
        
    }
    body{
        width: 90%;
        margin: 0 auto;
        background-image: url(../src/img/backgroung.png);
        background-repeat: repeat;  
        background-size: cover;
    }
    header{
        position: fixed;
        width: 90%;
    }
    header table td:nth-of-type(2) img{
        display: block;
        height: 10vh;
    }
    div#divhead{
        display: block;
        height: 90vh;
        top: 10vh;
        bottom: 10vh;
        /*background: red;*/
    }
    nav{
    top: 90vh;
    bottom: 0;
    left: 5%;
    right: 5%;
    }
    
}