*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0px solid grey;
}
html{
    height: 100%;
    min-height: 100%;
    background: #000;
    width: 100%;
    background-color: black;
}
body{
    width: 100%;
    height: 100vh;
    min-height: 100%;
    background: #6e0309;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 10vh;
    vertical-align: middle;
    top: 0;
    z-index: 100;
    background-color: black;
}

div#divhead{
    display: none;
}
nav{
    height: 10vh;
    top: 10vh;
    text-align: center;
    /*background-color: yellow;*/
}
footer{
    height: 10vh;
    background-color: lightcoral;
}
table, tr, td{
    border: 0px;
    border-collapse: collapse;
}
/************************* HEADER ****************************/
header{
    vertical-align: middle;
}
header table{                        /* HEAD TABLE */
    height: 10vh;
    width: 100%;
}

header table tr td{
    text-align: center;
}
header table td img{     /*sizing the HEAD image*/
    height: 9vh;
    margin: 0 auto;
}
header table tr td:nth-child(3){
    min-width: 200px;
}
header table td:last-child{
    width: 15%;
    min-width: 150px;
}
header table td:last-child img{
    height: 5vh;
}
header table td:last-child img:hover{
    color: red;
    opacity: 0.2;
}
header table td:nth-of-type(2) img{ 
    display: none;
    text-align: center;
}
.tooltip {                   /******** TOOLTIP ************/
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-family: "roboto",sans-serif;
    font-weight: bold;
    background-color: #e61d30;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.webdesigntuts-workshop {           /******* styling the SEARCH BAR********/
	height: 100%;
	text-align: center;
	height: 100%;
}

.webdesigntuts-workshop input {  /*searct bar*/
	background: #222;	
	background: linear-gradient(#333, #222);	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	height: 100%;
	margin: 0;
	padding: 8px;
	text-shadow: 0 -1px 0 #000;
	width: 70%;
}
.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	height: 100%;
	line-height: 5vh;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 30%;
        min-width: 50px;
}	

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #e61d30;
	outline: none;
}
@keyframes glow {
    0% {
		border-color: #e61d30;
		box-shadow: 0 0 5px rgba(230,29,48,.2), inset 0 0 5px rgba(230,29,48,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #e61d30;
		box-shadow: 0 0 20px rgba(230,29,48,.6), inset 0 0 10px rgba(230,29,48,.4), 0 2px 0 #000;
    }
}
/******************** DIV#divhead **************************/
div#divhead{
    height: 100%;
}
div#divhead table tr:last-child{
    background: linear-gradient(to top, black , white);
    opacity: 0.6;   
    }
div#divhead table tr td{
    border: 0px solid white;
    height: 40vh;
    width: 25%;
}
div#divhead table tr td.firtsttd{
    height: 50vh;
}
div#divhead table{
    background-color: black;
    background-image: url("../src/img/desktop/headerlucifer.jpg");
    background-size: cover;
}
div#divhead table tr td img{
    height: 80%;
    width: 70%;
    position: relative;
    bottom: -40vh;
    border-top: 1px solid #e61d30;
    transition: 0.2s linear;
    z-index: 2;
}
div#divhead table tr td img:hover{
    border: 1px solid #e61d30;
    box-sizing: content-box;
    animation: glow 800ms ease-out infinite alternate;
    transition: 0.2s linear;
}
div#divhead table tr td.tdcenter{
    text-align: center;
}
div#divhead table tr td h1{
    width: 98%;
    font-family: "lora";
    font-weight: bold;
    font-size: 3vw;
    color: whitesmoke;
    text-shadow: #e61d30 2px 2px 1px;
    border-bottom: 0.5vh solid #e61d30;
    transition: 0.5s;
}
div#divhead table tr td h1:hover{
    color: red;
    text-shadow: whitesmoke  0.2vw 0.2vw 0;
    border-bottom: 0.5vh solid #e61d30;
}
div#divhead table tr td p{
    text-align: left;
    text-align: inherit;
    font-family: "lora" , sans-serif;
    font-weight: bold;
    font-size: 1.4vw;
    color: whitesmoke;
}
header table td p span{
    font-size: 1.5vw;
}
div#divhead table tr td span:last-child{
    color: #e61d30;
    text-shadow: whitesmoke 1px 1px 0;
}
/******************* NAV BAR ****************************/
nav{
    height: 10vh;
    background-color: black;
}
nav ul{
    display: flex;
}
nav ul, nav li{
     margin: 0 auto;
     list-style: none;
     cursor: pointer;
     color: white;
     font-size: 24px;
     transition: 0.2s ease-in-out;
 }
 nav ul li a {
     text-decoration: none;
     color: white;
     vertical-align: middle;
 }
 nav ul li a:after{
     color: white;
 }
 nav ul li a:active{
     color: white;  
 }
 nav ul li a:visited{
     color: white;
 }
 nav ul li a:hover{
     color: red;
     font-weight: bold;
     text-shadow: white 1px 1px 0;
     transition: 0.5s ease-in-out;
 }
nav li.menucontent{
     position: relative;
     width: 20vw;
     height: 10vh;
     vertical-align: middle;
     text-align: center;
     display: inline-block;
 }
nav .menuobtion{
     width: 100%;
     display: inline-block;   
     height: 10vh;
     vertical-align: middle;
 }
 nav ul.dropmenu{
     display: none;
     position: absolute;
     width: 100%;
 }
 nav li.menucontent:hover ul.dropmenu{
     margin: 0 auto;
     display: block;
     background-color: black;
     transition: 0.5s ease-in-out;
     text-shadow: white 1px 1px 0;
     transition: 0.5s ease-in-out;
 }
 nav li:hover{
     background-color: #720206;
     padding-top: 10px;
     margin: 0 auto;
     text-shadow: white 1px 1px 0;
     transition: 0.5s ease-in-out;
 }
 /****************** FONTS *******************/
@font-face{
    font-family: "handle";
    src: url("../src/fnt/handle.ttf")
}
@font-face{
    font-family: "lobster";
    src: url("../src/fnt/lobster.ttf")
}
@font-face{
    font-family: "lora";
    src: url("../src/fnt/lora.ttf")
}
@font-face{
    font-family: "roboto";
    src: url("../src/fnt/roboto.ttf")
}
@font-face{
    font-family: "source";
    src: url("../src/fnt/source.ttf")
}
@media(min-width : 600px){
    html{
        background: -webkit-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Safari 5.1 to 6.0 */
        background: -o-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Opera 11.1 to 12.0 */
        background: -moz-repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* For Firefox 3.6 to 15 */
        background: repeating-linear-gradient(15deg,#720206,#000 2%,#250001 3%); /* Standard syntax*/
        
    }
    body{
        width: 90%;
        margin: 0 auto;
        background-image: url(../src/img/backgroung.png);
        background-repeat: repeat;  
        background-size: cover;
    }
    header{
        position: fixed;
        width: 90%;
    }
    header table td:nth-of-type(2) img{
        display: block;
        height: 10vh;
    }
    div#divhead{
        display: block;
        height: 90vh;
        top: 10vh;
        bottom: 10vh;
        /*background: red;*/
    }
    nav{
    top: 90vh;
    bottom: 0;
    left: 5%;
    right: 5%;
    }
    
}